name: Go CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - run: go build ./...
      - run: go vet ./...

      - name: Lint
        uses: golangci/golangci-lint-action@v6

      - run: go test ./...
